{% extends "base.html" %} {% block body %}
<div class="container">
  <div class="row">
    <h2 class="mt-4 mb-4 border-2 border-bottom">{{ shop.name }}</h2>
    <a href="{{ map_url }}">
      <h5>
        <i class="bi bi-geo-alt"> </i>
        {{ shop.address }}
      </h5>
    </a>
    <p>
      <i class="bi bi-calendar-check"> </i>
      営業時間：{{ shop.open }}
    </p>
  </div>
  <div class="row">
    <div class="col">
      <img src="{{ shop.photo.pc.l }}" alt="店舗画像" />
    </div>
  </div>
  <button type="button" onclick="history.back()">戻る</button>
</div>

{% endblock %}
