{% extends "base.html" %} {% block title %}Fany{% endblock %} {% block body %}
<div class="container text-center">
  <div class="card my-5" style="background-color: #ffa72c">
    <div class="card-body display-1">めしなり</div>
    <h4 class="text-secondary">- 近くにある飲食店を探します</h4>
  </div>
  {% if error %}
  <p class="m-3 error alert-danger rounded">{{error}}</p>
  {% endif %}
  <div class="d-flex">
    <select
      class="form-select form-select-lg m-4"
      aria-label=".form-select-lg"
      name="range"
      id="range"
    >
      <option selected>検索範囲を指定してください。</option>
      <option value="1">300m圏内 (徒歩3分)</option>
      <option value="2">500m圏内 (徒歩7分)</option>
      <option value="3">1km圏内 (徒歩10分から15分)</option>
      <option value="4">2km圏内 (徒歩25分)</option>
      <option value="5">3km圏内 (車で15分)</option>
    </select>
  </div>
  <input
    id="btn"
    type="submit"
    class="btn text-white my-3"
    value="近くのお店を検索"
    style="background-color: #ffa72c"
  />
</div>

{% endblock %}
