{% extends "bootstrap/base.html" %} {% block title %}Fany{% endblock %} {% block
body %}
<main class="container text-center">
  <div class="m-3">
    <p>Fany</p>
  </div>
  <div class="user-input">
    {% if error %}
    <p class="error alert-danger rounded">{{error}}</p>
    {% endif %}
    <form action="/result" method="POST">
      <div class="form-group">
        <label for="range">検索範囲を指定してください。</label>
        <select class="form-control" name="range" id="range">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select>
      </div>
      <input type="submit" class="btn btn-primary" value="検索" />
    </form>
  </div>
</main>

{% endblock %}
